:root {
  background-color: lightcyan;
}

body {
  position: relative;
  background-color: rgb(228, 205, 112);
  padding: 30px;
}

header {
  padding: 20px 35px;
  flex-wrap: wrap;
  position: -webkit-sticky;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
}

p {
  text-align: center;
  flex-wrap: wrap;
}
.button .start {
  height: 200px;
  position: relative;
  border: 3px solid green;
  text-align: center;
}

/* default state */
button {
  background: white;
}

/* mouse is hovering over button */
button:hover {
  background-color: rgb(197, 224, 197);
}

/* user is actively pressing the cursor down on the button */
button:active {
  background: rgb(200, 200, 226);
}

h1 {
  text-align: center;
}

.quiz-container li:hover {
  color: Red;
  text-transform: capitalize;
}
