@keyframes example {
  0% {
    background-color: lightgrey;
  }
  20% {
    background-color: lightcyan;
  }
  40% {
    background-color: lightsalmon;
  }
  60% {
    background-color: lightyellow;
  }
  80% {
    background-color: lightblue;
  }
  100% {
    background-color: lightgreen;
  }
}

:root {
  animation: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

body {
  position: relative;
  background-color: rgb(228, 205, 112);
  padding: 40px;
}

header {
  padding: 20px 35px;
  flex-wrap: wrap;
  position: -webkit-sticky;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
}
a {
  background: white;
}

a {
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0em;
  padding: 1px 6px;
  border-style: outset;
  border-image: initial;
}

p {
  text-align: center;
  flex-wrap: wrap;
}
.button .start {
  height: 200px;
  position: relative;
  border: 3px solid green;
  text-align: center;
}

/* default state */
button {
  background: white;
}

/* mouse is hovering over button */
button:hover {
  background-color: rgb(197, 224, 197);
}

/* user is actively pressing the cursor down on the button */
button:active {
  background: rgb(200, 200, 226);
}

h1 {
  text-align: center;
}

.quiz-container li:hover {
  color: Red;
  text-transform: capitalize;
  box-sizing: border-box;
}
